<% layout('layout/page')%>
    <link rel="stylesheet" href="/css/exercises.css">

    <div class="container">
        <div class="image d-flex justify-content-center">
            <img src="images/body.png" class="imgBack" id="map-image"
                style="width: 1280px; max-width: 100%; height: auto;" alt="" usemap="#map" />
            <map name="map">
                <area shape="poly"
                    coords="961, 189, 957, 201, 978, 205, 986, 222, 989, 240, 1014, 264, 1020, 265, 1017, 233, 1012, 215, 1001, 201, 989, 189, 972, 185"
                    id="shoulders" href="exercises/category/shoulders" />
                <area shape="poly"
                    coords="848, 189, 820, 190, 804, 206, 794, 226, 796, 246, 793, 271, 824, 237, 824, 223, 828, 209, 837, 198, 848, 197"
                    id="shoulders" href="exercises/category/shoulders" />
                <area shape="poly"
                    coords="408, 199, 428, 189, 452, 189, 474, 204, 484, 221, 487, 246, 487, 267, 448, 231, 449, 214, 436, 202"
                    id="shoulders" href="exercises/category/shoulders" />
                <area shape="poly"
                    coords="341, 201, 319, 189, 292, 189, 273, 205, 266, 231, 264, 268, 287, 245, 302, 233, 300, 209, 317, 201"
                    id="shoulders" href="exercises/category/shoulders" />
                <area shape="poly" coords="851, 188, 853, 198, 952, 201, 955, 187, 914, 149, 898, 149" id="trapesiuz"
                    href="exercises/category/trapesiuz" />
                <area shape="poly" coords="387, 200, 402, 197, 416, 191, 423, 186, 404, 170, 400, 165" id="trapesiuz"
                    href="exercises/category/trapesiuz" />
                <area shape="poly" coords="351, 168, 337, 178, 320, 189, 337, 196, 368, 204, 364, 182, 362, 166"
                    id="trapesiuz" href="exercises/category/trapesiuz" />
                <area shape="poly"
                    coords="451, 242, 491, 277, 493, 300, 493, 343, 465, 327, 460, 309, 450, 291, 445, 263" id="biceps"
                    href="exercises/category/biceps" />
                <area shape="poly"
                    coords="299, 242, 260, 275, 258, 289, 257, 305, 260, 325, 260, 340, 284, 323, 292, 304, 300, 287, 304, 265"
                    id="biceps" href="exercises/category/biceps" />
                <area shape="poly"
                    coords="987, 247, 979, 282, 988, 306, 996, 330, 1015, 333, 1028, 313, 1020, 303, 1019, 268"
                    id="triceps" href="exercises/category/triceps" />
                <area shape="poly" coords="821, 248, 790, 279, 787, 309, 795, 333, 813, 318, 831, 289" id="triceps"
                    href="exercises/category/triceps" />
                <area shape="poly" coords="999, 347, 1037, 432, 1057, 420, 1048, 369, 1034, 329, 1017, 341, 994, 335"
                    id="forearms" href="exercises/category/forearms" />
                <area shape="poly" coords="776, 318, 792, 341, 816, 333, 793, 386, 771, 432, 751, 421, 763, 378"
                    id="forearms" href="exercises/category/forearms" />
                <area shape="poly"
                    coords="466, 335, 477, 366, 504, 424, 528, 415, 519, 370, 512, 344, 496, 312, 498, 349"
                    id="forearms" href="exercises/category/forearms" />
                <area shape="poly"
                    coords="251, 315, 257, 348, 285, 329, 267, 378, 243, 428, 222, 421, 234, 385, 236, 361, 241, 339"
                    id="forearms" href="exercises/category/forearms" />
                <area shape="poly"
                    coords="306, 211, 304, 229, 308, 249, 322, 274, 350, 280, 376, 277, 389, 280, 405, 281, 421, 276, 437, 266, 444, 254, 445, 240, 444, 222, 438, 211, 429, 205, 414, 203, 394, 204, 378, 206, 364, 206, 352, 203, 332, 203, 316, 205"
                    id="chest" href="exercises/category/chest" />
                <area shape="poly"
                    coords="307, 278, 340, 282, 376, 285, 415, 284, 443, 277, 444, 289, 438, 316, 433, 344, 436, 357, 410, 373, 369, 373, 340, 371, 313, 353, 310, 324, 304, 295"
                    id="abs" href="exercises/category/abs" />
                <area shape="poly"
                    coords="837, 201, 886, 202, 934, 204, 967, 205, 981, 214, 986, 232, 984, 245, 980, 265, 975, 275, 972, 299, 965, 322, 964, 360, 969, 383, 970, 397, 948, 393, 924, 401, 913, 416, 908, 423, 895, 408, 875, 396, 860, 391, 840, 393, 843, 373, 844, 342, 838, 306, 834, 282, 827, 253, 828, 219"
                    id="back" href="exercises/category/back" />
                <area shape="poly"
                    coords="839, 401, 856, 397, 876, 402, 896, 418, 906, 433, 927, 409, 945, 401, 965, 401, 976, 409, 976, 429, 979, 445, 980, 458, 983, 472, 983, 482, 971, 492, 953, 501, 934, 505, 919, 498, 911, 488, 902, 483, 892, 498, 875, 503, 856, 503, 844, 496, 828, 485, 825, 473"
                    id="glutes" href="exercises/category/glutes" />
                <area shape="poly" coords="908, 502, 932, 644, 952, 625, 974, 637, 971, 611, 986, 486, 949, 512"
                    id="legs" href="exercises/category/legs" />
                <area shape="poly"
                    coords="823, 488, 839, 498, 857, 510, 888, 505, 903, 495, 876, 647, 856, 633, 836, 645, 836, 617, 838, 604"
                    id="legs" href="exercises/category/legs" />
                <area shape="poly"
                    coords="436, 399, 400, 440, 392, 465, 375, 485, 403, 626, 421, 605, 444, 620, 443, 590, 450, 551, 456, 507, 452, 455"
                    id="legs" href="exercises/category/legs" />
                <area shape="poly"
                    coords="308, 401, 329, 423, 345, 443, 356, 462, 372, 487, 368, 531, 356, 589, 348, 630, 322, 620, 306, 629, 306, 591, 300, 566, 295, 529, 293, 501"
                    id="legs" href="exercises/category/legs" />
                <area shape="poly"
                    coords="934, 657, 955, 665, 976, 657, 978, 702, 974, 729, 968, 757, 935, 757, 929, 732, 929, 705"
                    id="claves" href="exercises/category/claves" />
                <area shape="poly"
                    coords="834, 660, 854, 672, 877, 661, 881, 709, 874, 745, 869, 765, 840, 767, 832, 738" id="claves"
                    href="exercises/category/claves" />
                <area shape="poly"
                    coords="408, 661, 426, 669, 444, 661, 448, 706, 442, 742, 436, 777, 412, 777, 402, 745, 399, 723"
                    id="claves" href="exercises/category/claves" />
                <area shape="poly"
                    coords="304, 659, 328, 666, 343, 663, 351, 693, 351, 713, 342, 763, 311, 768, 304, 744, 300, 706"
                    id="claves" href="exercises/category/claves" />


            </map>


        </div>


        <div>
            <h2 class=" text-center">Exercises</h2>
            <% for(let e of exercises) { %>
                <div class=" card m-3">
                    <div class="card-body">
                        <h4 class="card-title">
                            <%=e.name%>
                        </h4>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <hr>
                            Body part: <%=e.category%>
                        </h6>
                        <p class="card-text">
                            <%=e.description%>
                        </p>
                        <p class="card-text text-muted">
                            by <%=e.author.username%>
                        </p>
                    </div>

                </div>
                <% } %>
        </div>
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="js/imageMapResizer.min.js"></script>
    <script>$(document).ready(function (e) { $("map").imageMapResize(); });</script>