<% layout('layout/page')%>
    <div class="row">
        <h1 class="text-center">New Recipe</h1>
        <div class="col-6 offset-3">
            <form action="/recipes" method="POST" class="validated-form" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="recipe[name]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="calories">Calories</label>
                    <input class="form-control" type="text" id="calories" name="recipe[calories]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="carbs">Carbs</label>
                    <input class="form-control" type="text" id="carbs" name="recipe[carbs]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="fats">Fats</label>
                    <input class="form-control" type="text" id="fats" name="recipe[fats]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="proteins">Proteins</label>
                    <input class="form-control" type="text" id="proteins" name="recipe[protein]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <input type="file" name="image">
                <!-- <div class="mb-3">
                    <label class="form-label" for="image">Image</label>
                    <input class="form-control" type="text" id="image" name="recipe[image]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div> -->
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="recipe[description]" rows="4"
                        cols="4" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add Recipe</button>
                </div>
            </form>
            <a href="/recipes">All Recipes</a>
        </div>
    </div>