<footer class="footer bg-black py-3 mt-auto">
    <div class="container d-flex justify-content-center align-items-center">
        <span class="text-muted ">&copy; Fit-Buddy 2021</span>
    </div>
</footer>