<% layout('layout/page')%>



    <div class=" container d-flex justify-content-center align-self-center mt-5">
        <div class="row ">


            <h1 class="text-center">Fit-Buddy</h1>
            <p class="text-center">A fitness application that will change your life and that will help you achieve your
                goals in a healthy
                and correct way.</p>

        </div>
    </div>